/**
 * Overview
 */
.postbox--instagram-overview {
	position: relative;
}

.postbox--instagram-overview.connected {
	margin-top: 5rem;
	padding-top: 6rem;
}

.postbox--instagram-overview > .inside {
	text-align: center;
}

.postbox--instagram-overview.disconnected > .inside {
	margin: 32px 0;

	text-align: center;
}

.postbox--instagram-overview > .inside > p {
	font-size: 1.25em;
}

.instagram-overview-image {
	position: absolute;
	left: 50%;
	top: 0;

	display: block;
	width: 10rem;
	height: 10rem;
	margin: -12rem 0 0 -5rem;
	padding: 2px;

	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba( 0,0,0,0.15 );
}

.instagram-overview-image::before {
	content: '\f147';

	position: absolute;
	right: 0;
	top: 0;

	display: block;
	height: 1em;
	width: 1em;
	margin: 0.5em;
	padding: 0.1em;

	font-family: dashicons;
	font-size: 22px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	text-indent: -1px;

	background-color: rgb( 0,115,170 );
	border: 1px solid rgb( 0,103,153 );
	border-radius: 50%;
	box-shadow: 0 0 2px rgba( 0,0,0,0.15 );
}

.instagram-overview-image-image {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;

	border-radius: 50%;
}


/**
 * Tutorial
 */
.postbox--instagram-tutorial > .inside {

}

.postbox--instagram-tutorial > .inside > p {

}


/**
 * Status
 */
.postbox--instagram-status {

}

.postbox--instagram-status .inside {
	position: relative;

	min-height: 142px;
	padding-left: 176px;
	padding-bottom: 0;
}

.postbox--instagram-status .stats {
	float: left;
	width: 100%;
	padding: 0 0 0;
}

.postbox--instagram-status .stat {
	float: left;
	clear: both;
	width: 100%;
	min-height: 2em;
	padding: 0.5em 0 0.5em;

	border-bottom: 1px solid #eee;
}

.postbox--instagram-status .stat:last-of-type {
	border-bottom: none;
}

.postbox--instagram-status .stat-label {
	line-height: 2;
}

.postbox--instagram-status .stat-number {
	float: right;

	font-size: 2em;
	line-height: 1;

	opacity: 0.25;
}

.postbox--instagram-status .stat-value {
	float: right;
}

.postbox--instagram-status .latest-image {
	position: absolute;
	left: 0;
	top: 0;

	width: 140px;
	height: 140px;
	margin: 0 12px;

	border: 1px solid #eee;
}

.postbox--instagram-status .latest-image-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.postbox--instagram-status .label-background {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -0.75em 1em 0;

	font-size: 2em;
	line-height: 1;
	text-align: center;

	opacity: 0.25;
}


/**
 * Edit post list
 */
.wp-list-table .column-instagram--thumbnail {
	width: 80px;
	padding: 0;
}

.wp-list-table .column-instagram--thumbnail img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}


/**
 * Dashboard widget: Member disconected
 */
#instagram--member-disconnected {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
	background-image: url( '../img/bg--dashboard--member-disconnected.png' );

	border: none;
	border-radius: 8px;
}

#instagram--member-disconnected .hndle,
#instagram--member-disconnected .handlediv {
	display: none;
}


#instagram--member-disconnected h2 {
	margin: 12px 0 0;
	padding-bottom: 0;
}

#instagram--member-disconnected p {
	margin: 1.25em 0;
}
